{
    frankenphp {
        worker {
            file /app/public/index.php
            num 2
            env APP_RUNTIME Runtime\FrankenPhpSymfony\Runtime
        }
    }
    order php_server before file_server
}

localhost:8000, :8000 {
    root * /app/public

    php_server {
        resolve_root_symlink
    }

    encode zstd gzip

    log {
        output stdout
        format console
    }
}
